[submodule "foursquare-android-oauth"]
	path = foursquare-android-oauth
	url = https://github.com/thunsaker/foursquare-android-oauth.git
[submodule "viewpagerindicator"]
	path = viewpagerindicator
	url = https://github.com/thunsaker/Android-ViewPagerIndicator/
