.DS_Store
*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/
out/
proguard/

.gradle/
.idea/

local.properties
com_crashlytics_export_strings.xml

foursquareoauthlibrary/
betterpickers/
Android-ViewPagerIndicator/

soup/src/main/java/com/thunsaker/soup/AuthHelper.java
soup/src/main/res/values/donotsave.xml
soup/libs/**

soup-pro/libs/**