.DS_Store
*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/
out/
proguard/

.gradle/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml

local.properties

com_crashlytics_export_strings.xml
crashlytics.properties
google_maps_api.xml

foursquareoauthlibrary/
Android-ViewPagerIndicator/

AuthHelper.java
soup/src/main/res/values/donotsave.xml
soup/libs/**

soup-pro/libs/**