.DS_Store
*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/
out/
proguard/

.gradle/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

local.properties

com_crashlytics_export_strings.xml
**/crashlytics.properties
**/crashlytics-build.properties
google_maps_api.xml

foursquareoauthlibrary/
Android-ViewPagerIndicator/

AuthHelper.java
soup/src/main/res/values/donotsave.xml
soup/libs/**

soup-pro/libs/**