<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thunsaker.soup" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Google -->
    <!-- <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> -->
    <!-- Google Maps & Location -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".app.SoupApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Soup" >
        <activity
            android:name=".ui.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name="com.foursquare.android.nativeoauth.TokenExchangeActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.VenueDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/title_venue_detail"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thunsaker.soup.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.VenueDetailActivityReceiver"
            android:label="@string/title_venue_detail_receiver" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.VenueSearchActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/title_activity_venue_search"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".VenueSearchActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thunsaker.soup.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.VenueEditCategoriesActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/title_activity_venue_edit_categories"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.VenueDetailActivity" />
        </activity>
        <activity
            android:name=".ui.VenueAddCategoryActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/title_activity_venue_add_category"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name=".ui.LocationSelectActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/title_activity_location_select"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".ui.VenueEditTabsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/title_activity_venue_edit"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.VenueEditHoursAddActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/title_activity_venue_edit_hours_add"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.ListActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/lists_title"
            android:launchMode="singleTop" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.settings.SettingsLegacyActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC1lS-PuXy3I-tJAnrBnygvIbS8ZuIwHxw" />

        <activity
            android:name=".ui.CheckinHistoryActivity"
            android:label="@string/title_activity_history"
            android:parentActivityName=".ui.MainActivity"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thunsaker.soup.ui.MainActivity" />
        </activity>
    </application>

</manifest>
